services:
  sniffer:
    image: widps-sniffer
    container_name: widps-sniffer

    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - /home/lakshyagupta69/widps/data:/data:ro,z

    environment:
    # as of now for testing only (changes to be made for production)
      READ_EXISTING: "1" 

    extra_hosts:
      - "host.docker.internal:host-gateway"

    command:
      [
        "./build/sniffer",
        "/data/widps_capture-01.csv",
        "http://host.docker.internal:8000/events"
      ]

    restart: unless-stopped
